* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.column {
  display: flex;
  justify-content: center;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px); /* Di chuyển lên 5px khi hover */
}